* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    /* width: 250px; */
    border: 1px solid lightskyblue;
    border-radius: 8px;
    background-color: #fcffdb;
    margin: 5px;
    padding: 10px;
    text-align: justify;
}

.box-1 {
    width: 200px;
    /* order: 3; */
}

.box-2 {
    width: 300px;
    /* order: 2; */
}

.box-3 {
    width: 150px;
    /* order: 4; */
}

.box-4 {
    width: 250px;
    /* order: 1; */
}


.box-number {
    font-size: 35px;
    float: left;
    padding-right: 10px;
}
.container{
    background-color: #def0ff;
    display: flex;
    
    /* Включити висоту при демонстрації align-items: ; */
    height: 80vh;
    
    /* flex-direction*/
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    
    /* flex-wrap */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
  
    /* justify-content */
    justify-content: flex-start;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */

    /* align-items */
    /* align-items: flex-start; */
    align-items: flex-end;
    /* align-items: center; */
    /* align-items: baseline; */
    /* align-items: stretch; */

    /* align-content */
    /* align-content: flex-start; */
    align-content: flex-end;
    /* align-content: center; */
    /* align-content: baseline; */
    /* align-content: stretch; */

    /* gap */
    /* gap: 20px; */
    /* gap: 30px 20px;  */
    /* row-gap: 10px; */
    /* column-gap: 20px; */
}

/* align-self */
/* .self {
    align-self: flex-end;
} */


