@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* or */
    /* flex-flow: row wrap; */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    list-style-type: none;
    background-color: deepskyblue;
}

.nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.nav a:hover {
    background-color: #1565C0;
}

@media all and (max-width: 992px) {
    .nav {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .nav {
        flex-flow: column wrap;
        padding: 0;
    }

    .nav a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .nav li:last-of-type a {
        border-bottom: none;
    }
}