* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 350px;
    padding: 20px;
    background: linear-gradient(rgb(0, 74, 97),rgb(0, 85, 141));
    transition: all 0.5s linear;
}

.menu a {
    text-decoration: none;
    color: #747474;
    font-size: 24px;
}

h1 {
    display: block;
    color: white;
}

.h1 {
    width: 400px;
    margin-top: 40px;
}

img {
    width: 100px;
    height: 100px;
}

.img {
    margin-top: 10px;
}


.grey {
    color: #747474;
}

@media screen and (max-width: 600px) {

    .container {
    position: relative;
    width: 100%;
    height: 450px;
    padding: 20px;
    background: linear-gradient(rgb(0, 74, 97),rgb(0, 85, 141));
    transition: all 0.5s linear;
    }
    .txt {
    position: absolute  ;
    left: 120px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: 18px;
    }

    .box {
        /* border: 3px solid red; */
        width: 200px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding: 15px;
        color: white;
    }

    .el {
        /* border: 3px solid red; */
        width: 150px;
    }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
   .txt {
    position: absolute;
    left: 120px;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    font-size: 18px;
    }

    .box {
        /* border: 3px solid red; */
        width: 200px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding: 15px;
        color: white;
    }

    .el {
        /* border: 3px solid red; */
        width: 150px;
    }
}

@media screen and (min-width: 960px) {
    .txt {
    position: absolute;
    left: 120px;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    font-size: 16px;
    }

    .box {
        /* border: 3px solid red; */
        display: flex;
        gap: 20px;
        padding: 50px;
        color: white;
    }

    .el {
        /* border: 3px solid red; */
        width: 150px;
    }
}