* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 300px;
    height: auto;
}

.box {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    margin: 8px;
    float: left;
    filter: grayscale(100%);
    transition: all 0.5s linear;
}

.box:hover {
    filter: grayscale(0%);
    left: 5px;
    top: 5px;
}