* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(43, 43, 43);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 20px 0;
}

main {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 20px 0;
    float: left;
    width: 50%;
    box-sizing: border-box;
}

aside {
    background-color:chartreuse;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 20px 0;
    float: right;
    width: 50%;
    box-sizing: border-box;
}

footer {
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 20px 0;
    clear: both;
}