* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    color: white;
    height: 100vh;
    padding: 10px;
}

.header,  .content,  .footer{
    background-color: #b3cbfd;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

.content {
    flex-grow: 1;
}